body {
    font-family: sans-serif;
    background-image:url("spmUM.gif"); 
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#fv
{
    background-color:blue;
    width:200px;
    height:52px;
    font-size: 20%;
    font-family:calibri;
    
}
#fv:hover
{
    background-color:green;
    width:205px;
    height:54px;
    font-size: 25%;
    font-family:calibri;
}
