body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

#navigation li{
    list-style: none;
    font-size: 1.2em;
    color: orange;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em;
    font-family: "Courier New";
}
